
@model Restless_Legs.Models.Posting

@{
    ViewData["Title"] = "Location - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Location Details</h2>
<hr />
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.PostingId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.PostingId }) | @Html.ActionLink("Back to main", "Index", "Locations")</p>
<hr />
<p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>
<p>@Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author)</p>
<p>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</p>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>


<hr />
<p>@Html.DisplayNameFor(model => model.Comments):</p>
<p>@Html.ActionLink("Add New Comment", "Create", "Comments")</p>

<table class="table">
    @foreach (var comment in Model.Comments)
    {
        <tr>
            <td>
                <p>@Html.DisplayNameFor(model => comment.Author):@Html.DisplayFor(model => comment.Author)</p>
                <p>@Html.DisplayNameFor(model => comment.Date): @Html.DisplayFor(model => comment.Date)</p>
                <p>@Html.DisplayNameFor(model => comment.Content): @Html.DisplayFor(model => comment.Content)</p>

                @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.CommentId }) | @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.PostingId })
                
            </td>
        </tr>
    }
</table>
<hr />