@model Restless_Legs.Models.Posting

@{
    ViewData["Title"] = "Restless Legs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />
<h4>Edit this Posting: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PostingId)

    <p>@Html.LabelFor(model => model.Title)</p>
    <p>@Html.EditorFor(model => model.Title)</p>

    <p>@Html.LabelFor(model => model.Author)</p>
    <p>@Html.EditorFor(model => model.Author)</p>

    <p>@Html.LabelFor(model => model.Date)</p>
    <p>@Html.EditorFor(model => model.Date)</p>

    <p>@Html.LabelFor(model => model.Description)</p>
    <p>@Html.EditorFor(model => model.Description)</p>

    <p>@Html.LabelFor(model => model.Location)</p>
    <p>@Html.DropDownList("LocationId")</p>

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index", "Locations")</p>