@model Restless_Legs.Models.Location
@*@model IEnumerable<Restless_Legs.Models.Location>*@

@{
    ViewData["Title"] = "Restless Legs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search the location</h2>
@*@Html.DisplayFor(model => model.Name)*@
@*@foreach (var location in Model)
{
    @Html.DisplayFor(modellocation => location.Name)


}*@

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.Name)</p>
    <p>@Html.TextBox("location")</p>

    <input type="submit" value="Filter"/>
}
<p>@Html.ActionLink("Back to list", "Index")</p>

<h2>@Html.DisplayNameFor(model => model.Name):@Html.DisplayFor(model => model.Name)</h2>