@model Restless_Legs.Models.Location
@*@model IEnumerable<Restless_Legs.Models.Location>*@

@{
    ViewData["Title"] = "Restless Legs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search the location</h2>
<hr />
<p>@Html.ActionLink("Add new location", "Create")</p>
@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.Name)</p>
    <p>@Html.EditorFor(model => model.Name)</p>

    <input type="submit" value="Search"/>
}
<p>@Html.ActionLink("Back to list", "Index")</p>

@*<p>@Html.ActionLink("Edit", "Edit", new { id = Model.LocationId })</p>*@
@*<p>@Html.ActionLink("Delete", "Delete", new { id = Model.LocationId }) |</p>*@
<h2>@Html.DisplayNameFor(model => model.Name):@Html.DisplayFor(model => model.Name)</h2>
<img src=@Html.DisplayFor(model => model.Image)/>
<h2>@Html.DisplayNameFor(model => model.LocationId):@Html.DisplayFor(model => model.LocationId)</h2>
<h2>@Html.DisplayNameFor(model => model.Postings):@Html.DisplayFor(model => model.Postings)</h2>


@*@foreach (var posting in Model.Postings)
    {
        <h2>@Html.DisplayNameFor(model => posting.Title):@Html.DisplayFor(model => posting.Title)</h2>
        <p>@Html.ActionLink("Add New Person", "Create", "Persons")</p>
    }*@

<p>@Html.ActionLink("Add New Post", "Create", "Postings")</p>
